RewriteEngine On


#RewriteBase /h5/php

#less // uncomment if you want to use less
#RewriteRule ^assets/([a-z0-9\-]+).less$         index.php?file=$1            [L,E=ACTION:less]


#catches all files
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule .* - [L]

#css generator
RewriteRule ^h5$                                index.php                    [L,E=ACTION:h5:h5_css_generate]
RewriteRule ^h5/form$                           index.php                    [L,E=ACTION:h5:h5_css_form]

#hello world
RewriteRule ^hello/(\w+)$                       index.php?world=$1           [L,E=ACTION:hello]
RewriteRule ^hello/?$                           index.php?world=world        [L,E=ACTION:hello]

#html
RewriteRule ^(.*).html$                         index.php?page=$1            [L,E=ACTION:html,QSA]
RewriteRule ^$                                  index.php?page=index         [L,E=ACTION:html,QSA]

#default routes :: should be commented...
#RewriteRule ^([a-z]+)$                          index.php                    [L,E=ACTION:$1]
#RewriteRule ^([a-z]+)/([a-z]+)$                 index.php                    [L,E=ACTION:$1:$2]

#this rule must be last  :: c -> empty or nonexistent %controller-file%.php to show 404
#RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,E=ACTION:]

#deny direct access
<FilesMatch (index|cli).php>
  Order allow,deny
  Allow from env=REDIRECT_ACTION
</FilesMatch>
