/* reset.css */
html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:white;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
a img {border:none;}
:focus {outline:0;}

/* typography.css */
html {font-size:100.01%;}
body {font-size:75%;color:#222;background:#fff;font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
.left {float:left !important;}
p .left {margin:1.5em 1.5em 1.5em 0;padding:0;}
.right {float:right !important;}
p .right {margin:1.5em 0 1.5em 1.5em;padding:0;}
a:focus, a:hover {color:#09f;}
a {color:#06c;text-decoration:underline;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong, dfn {font-weight:bold;}
em, dfn {font-style:italic;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:1.5em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tbody tr:nth-child(even) td, tbody tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}

.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

.tleft { text-align: left; }
.tright { text-align: right; }
.tcenter { text-align: center; }


/* forms.css */
input[type="radio"], input[type="checkbox"] {
  margin: 0; zmargin: 0 .3em;
  vertical-align:baseline; position: relative; top: .1em;
}

select{padding: 0; margin: 0;}
label {font-weight:bold;}
fieldset {padding:0 19px 19px 19px;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
/*input[type=checkbox], input[type=radio] {position:relative;top:.15em;}*/
input[type=text], input[type=password] { font-size: 1em;}
input[type=text], input[type=password], input.text, input.title, textarea, select {background-color:#fff;border:1px solid #bbb;color:#000;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], textarea, select {margin-top:0.5em; margin-bottom:0.5em; padding: 0px 1px;}
select {padding: 0px;}
input.text, input.title {width:300px;padding:5px 1px;}
input.title, input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
.inline {line-height:2;}
.inline p {margin-bottom:0;}
.inline label {font-weight: normal !important}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

label.column {margin-top: 0.5em; margin-bottom: 0.5em;}
label.text.column  {margin-top: 1em; margin-bottom: 1em;}
label.title.column {margin-top: 1.5em; margin-bottom: 1.5em;}

/* grid.css */
.container {width:950px;margin:0 auto;}
.showgrid {background:url(assets/i/grid.png);}
.q {margin-left: 10px }
.s {margin-right: 10px}
.q0 {padding-left: 10px}
.e0 {padding-right: 10px}


.column, .w1, .w2, .w3, .w4, .w5, .w6, .w7, .w8, .w9, .w10, .w11, .w12, .w13, .w14, .w15, .w16, .w17, .w18, .w19, .w20, .w21, .w22, .w23, .w24, .w25, .w26, .w27, .w28, .w29, .w30, .w31, .w32, .w33, .w34, .w35, .w36, .w37, .w38, .w39, .w40, .w41, .w42, .w43, .w44, .w45, .w46, .w47, .w48 {float:left;}

.w1{width:10px}.q1{padding-left:20px}.e1{padding-right:20px}.a1{margin-left:-20px}.d1{margin-left:20px}input.w1{width:6px}textarea.w1{width:-2px}
.w2{width:30px}.q2{padding-left:40px}.e2{padding-right:40px}.a2{margin-left:-40px}.d2{margin-left:40px}input.w2{width:26px}textarea.w2{width:18px}
.w3{width:50px}.q3{padding-left:60px}.e3{padding-right:60px}.a3{margin-left:-60px}.d3{margin-left:60px}input.w3{width:46px}textarea.w3{width:38px}
.w4{width:70px}.q4{padding-left:80px}.e4{padding-right:80px}.a4{margin-left:-80px}.d4{margin-left:80px}input.w4{width:66px}textarea.w4{width:58px}
.w5{width:90px}.q5{padding-left:100px}.e5{padding-right:100px}.a5{margin-left:-100px}.d5{margin-left:100px}input.w5{width:86px}textarea.w5{width:78px}
.w6{width:110px}.q6{padding-left:120px}.e6{padding-right:120px}.a6{margin-left:-120px}.d6{margin-left:120px}input.w6{width:106px}textarea.w6{width:98px}
.w7{width:130px}.q7{padding-left:140px}.e7{padding-right:140px}.a7{margin-left:-140px}.d7{margin-left:140px}input.w7{width:126px}textarea.w7{width:118px}
.w8{width:150px}.q8{padding-left:160px}.e8{padding-right:160px}.a8{margin-left:-160px}.d8{margin-left:160px}input.w8{width:146px}textarea.w8{width:138px}
.w9{width:170px}.q9{padding-left:180px}.e9{padding-right:180px}.a9{margin-left:-180px}.d9{margin-left:180px}input.w9{width:166px}textarea.w9{width:158px}
.w10{width:190px}.q10{padding-left:200px}.e10{padding-right:200px}.a10{margin-left:-200px}.d10{margin-left:200px}input.w10{width:186px}textarea.w10{width:178px}
.w11{width:210px}.q11{padding-left:220px}.e11{padding-right:220px}.a11{margin-left:-220px}.d11{margin-left:220px}input.w11{width:206px}textarea.w11{width:198px}
.w12{width:230px}.q12{padding-left:240px}.e12{padding-right:240px}.a12{margin-left:-240px}.d12{margin-left:240px}input.w12{width:226px}textarea.w12{width:218px}
.w13{width:250px}.q13{padding-left:260px}.e13{padding-right:260px}.a13{margin-left:-260px}.d13{margin-left:260px}input.w13{width:246px}textarea.w13{width:238px}
.w14{width:270px}.q14{padding-left:280px}.e14{padding-right:280px}.a14{margin-left:-280px}.d14{margin-left:280px}input.w14{width:266px}textarea.w14{width:258px}
.w15{width:290px}.q15{padding-left:300px}.e15{padding-right:300px}.a15{margin-left:-300px}.d15{margin-left:300px}input.w15{width:286px}textarea.w15{width:278px}
.w16{width:310px}.q16{padding-left:320px}.e16{padding-right:320px}.a16{margin-left:-320px}.d16{margin-left:320px}input.w16{width:306px}textarea.w16{width:298px}
.w17{width:330px}.q17{padding-left:340px}.e17{padding-right:340px}.a17{margin-left:-340px}.d17{margin-left:340px}input.w17{width:326px}textarea.w17{width:318px}
.w18{width:350px}.q18{padding-left:360px}.e18{padding-right:360px}.a18{margin-left:-360px}.d18{margin-left:360px}input.w18{width:346px}textarea.w18{width:338px}
.w19{width:370px}.q19{padding-left:380px}.e19{padding-right:380px}.a19{margin-left:-380px}.d19{margin-left:380px}input.w19{width:366px}textarea.w19{width:358px}
.w20{width:390px}.q20{padding-left:400px}.e20{padding-right:400px}.a20{margin-left:-400px}.d20{margin-left:400px}input.w20{width:386px}textarea.w20{width:378px}
.w21{width:410px}.q21{padding-left:420px}.e21{padding-right:420px}.a21{margin-left:-420px}.d21{margin-left:420px}input.w21{width:406px}textarea.w21{width:398px}
.w22{width:430px}.q22{padding-left:440px}.e22{padding-right:440px}.a22{margin-left:-440px}.d22{margin-left:440px}input.w22{width:426px}textarea.w22{width:418px}
.w23{width:450px}.q23{padding-left:460px}.e23{padding-right:460px}.a23{margin-left:-460px}.d23{margin-left:460px}input.w23{width:446px}textarea.w23{width:438px}
.w24{width:470px}.q24{padding-left:480px}.e24{padding-right:480px}.a24{margin-left:-480px}.d24{margin-left:480px}input.w24{width:466px}textarea.w24{width:458px}
.w25{width:490px}.q25{padding-left:500px}.e25{padding-right:500px}.a25{margin-left:-500px}.d25{margin-left:500px}input.w25{width:486px}textarea.w25{width:478px}
.w26{width:510px}.q26{padding-left:520px}.e26{padding-right:520px}.a26{margin-left:-520px}.d26{margin-left:520px}input.w26{width:506px}textarea.w26{width:498px}
.w27{width:530px}.q27{padding-left:540px}.e27{padding-right:540px}.a27{margin-left:-540px}.d27{margin-left:540px}input.w27{width:526px}textarea.w27{width:518px}
.w28{width:550px}.q28{padding-left:560px}.e28{padding-right:560px}.a28{margin-left:-560px}.d28{margin-left:560px}input.w28{width:546px}textarea.w28{width:538px}
.w29{width:570px}.q29{padding-left:580px}.e29{padding-right:580px}.a29{margin-left:-580px}.d29{margin-left:580px}input.w29{width:566px}textarea.w29{width:558px}
.w30{width:590px}.q30{padding-left:600px}.e30{padding-right:600px}.a30{margin-left:-600px}.d30{margin-left:600px}input.w30{width:586px}textarea.w30{width:578px}
.w31{width:610px}.q31{padding-left:620px}.e31{padding-right:620px}.a31{margin-left:-620px}.d31{margin-left:620px}input.w31{width:606px}textarea.w31{width:598px}
.w32{width:630px}.q32{padding-left:640px}.e32{padding-right:640px}.a32{margin-left:-640px}.d32{margin-left:640px}input.w32{width:626px}textarea.w32{width:618px}
.w33{width:650px}.q33{padding-left:660px}.e33{padding-right:660px}.a33{margin-left:-660px}.d33{margin-left:660px}input.w33{width:646px}textarea.w33{width:638px}
.w34{width:670px}.q34{padding-left:680px}.e34{padding-right:680px}.a34{margin-left:-680px}.d34{margin-left:680px}input.w34{width:666px}textarea.w34{width:658px}
.w35{width:690px}.q35{padding-left:700px}.e35{padding-right:700px}.a35{margin-left:-700px}.d35{margin-left:700px}input.w35{width:686px}textarea.w35{width:678px}
.w36{width:710px}.q36{padding-left:720px}.e36{padding-right:720px}.a36{margin-left:-720px}.d36{margin-left:720px}input.w36{width:706px}textarea.w36{width:698px}
.w37{width:730px}.q37{padding-left:740px}.e37{padding-right:740px}.a37{margin-left:-740px}.d37{margin-left:740px}input.w37{width:726px}textarea.w37{width:718px}
.w38{width:750px}.q38{padding-left:760px}.e38{padding-right:760px}.a38{margin-left:-760px}.d38{margin-left:760px}input.w38{width:746px}textarea.w38{width:738px}
.w39{width:770px}.q39{padding-left:780px}.e39{padding-right:780px}.a39{margin-left:-780px}.d39{margin-left:780px}input.w39{width:766px}textarea.w39{width:758px}
.w40{width:790px}.q40{padding-left:800px}.e40{padding-right:800px}.a40{margin-left:-800px}.d40{margin-left:800px}input.w40{width:786px}textarea.w40{width:778px}
.w41{width:810px}.q41{padding-left:820px}.e41{padding-right:820px}.a41{margin-left:-820px}.d41{margin-left:820px}input.w41{width:806px}textarea.w41{width:798px}
.w42{width:830px}.q42{padding-left:840px}.e42{padding-right:840px}.a42{margin-left:-840px}.d42{margin-left:840px}input.w42{width:826px}textarea.w42{width:818px}
.w43{width:850px}.q43{padding-left:860px}.e43{padding-right:860px}.a43{margin-left:-860px}.d43{margin-left:860px}input.w43{width:846px}textarea.w43{width:838px}
.w44{width:870px}.q44{padding-left:880px}.e44{padding-right:880px}.a44{margin-left:-880px}.d44{margin-left:880px}input.w44{width:866px}textarea.w44{width:858px}
.w45{width:890px}.q45{padding-left:900px}.e45{padding-right:900px}.a45{margin-left:-900px}.d45{margin-left:900px}input.w45{width:886px}textarea.w45{width:878px}
.w46{width:910px}.q46{padding-left:920px}.e46{padding-right:920px}.a46{margin-left:-920px}.d46{margin-left:920px}input.w46{width:906px}textarea.w46{width:898px}
.w47{width:930px}.q47{padding-left:940px}.e47{padding-right:940px}.a47{margin-left:-940px}.d47{margin-left:940px}input.w47{width:926px}textarea.w47{width:918px}
.w48{width:950px}.q48{padding-left:960px}.e48{padding-right:960px}.a48{margin-left:-960px}.d48{margin-left:960px}input.w48{width:946px}textarea.w48{width:938px}

.a1,.d1,.a2,.d2,.a3,.d3,.a4,.d4,.a5,.d5,.a6,.d6,.a7,.d7,.a8,.d8,.a9,.d9,.a10,.d10,.a11,.d11,.a12,.d12,.a13,.d13,.a14,.d14,.a15,.d15,.a16,.d16,.a17,.d17,.a18,.d18,.a19,.d19,.a20,.d20,.a21,.d21,.a22,.d22,.a23,.d23,.a24,.d24,.a25,.d25,.a26,.d26,.a27,.d27,.a28,.d28,.a29,.d29,.a30,.d30,.a31,.d31,.a32,.d32,.a33,.d33,.a34,.d34,.a35,.d35,.a36,.d36,.a37,.d37,.a38,.d38,.a39,.d39,.a40,.d40,.a41,.d41,.a42,.d42,.a43,.d43,.a44,.d44,.a45,.d45,.a46,.d46,.a47,.d47,.a48,.d48{position:relative;}

.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
.colborder {padding-right:19px;margin-right:20px;border-right:1px solid #eee;}

.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}

/* other.css */
hr {background:#ddd; color:#ddd; clear:both; float:none; width:100%; height:1px; margin:0 0 17px; border:none;}
hr.space {background:#fff; color:#fff; visibility:hidden;}
.box {background:#e5eCf9;}
.clearfix:after, .container:after {content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}

 /* sticky footer */
html, body {height: 100%;}
.wrap {min-height: 100%;}
.wrap .container {overflow:auto; padding-bottom: 73px;}
.footer, footer {position: relative;margin-top: -73px;height: 73px;clear:both;}

/*Opera Fix*/
body:before {content:"";height:100%;float:left;width:0;margin-top:-32767px;}
.color1 {background-color: #feffc6}
.color2 {background-color: #e4fcfc}
.color3 {background-color: #ffe3e3}
